<!-- <p>nosotros works!</p> -->
<div align=center>
    <h1>Nosotros</h1>
    <img
        src="https://lh3.googleusercontent.com/proxy/-4bKIArcFqBaOxniziVVx4fEnLZjpNzZcvsbBYcDzWW6iqCozrn5h3c6p9bnN45dB-qqKNlV8fQvQ9q8tvnExNgT4BBHy4Y2UtVeWGxMRLw">
    <p style="padding-right: 30px; padding-left: 30px; padding-top: 10px;">
        Somos una organizacion que hace todo lo posible por mejorar y seguir brindandote productos de de calidad.
        El SEO móvil ya está en el punto de mira de los profesionales del marketing. ¡Qué ingenuos los que pensaban que
        con posicionarse desde el ordenador era suficiente! Las búsquedas desde el móvil funcionan de forma diferente, y
        cada vez son más importantes.
    </p>
    <mat-divider></mat-divider>
    <h1 style="padding-top: 30px;">Por que nos gusta que siempre tengas lo mejor</h1>
    <img src="https://www.reasonwhy.es/sites/default/files/busqueda-movil-seo-ReasonWhy.es_.jpg">
    <p style="padding: 30px;">
        Uno de los criterios más importantes en búsquedas móviles es que la página se visualice bien en este soporte. Y
        Google no quiere dos versiones de la misma página, quiere un diseño responsable, que se adapte a diferentes
        pantallas. <br>
        Las campañas de Search Engine Marketing (SEM) pueden ser muy efectivas en soporte móvil, sobretodo si son para
        una empresa local. Los anuncios de Google pueden recibir +1 en Google +. Combinando esto con la página de Google
        Places de la empresa, se puede mejorar unos cuantos puestos en el posicionamiento móvil.
    </p>
</div>

<footer class="bg-dark text-white mt-4">

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://angular.io/"> Angular.com</a>
        <h5>Hecho con Angular 9 por Daniel Tarqui</h5>
    </div>
    <!-- <p style="color: white;"> Yay!<br>br<br>br</p> -->
</footer>
