<div class="container">
    <div fxLayout="column" fxLayoutAlign="center center">
        <div align=center>
            <h1 style="padding: 10px">Nuestros productos solo para ti</h1>
        </div>
        <h4>Aqui puedes encontrar los mejores productos que puedes encontrar. Todos los productos se entregan
            directamente en tu domicilio </h4>
    </div>
    <app-gallery></app-gallery>
    <br>
    <mat-divider></mat-divider>
    <br>
    <div>
        <p>
            Elegir el equipamiento Informático que mejor se adapta a nuestras necesidades, además de no ser fácil, es de
            vital importancia y puede suponer unos costes inadecuados en el caso de no seleccionar la mejor alternativa.
            Con objeto de poder ayudarle en su elección, ponemos a su disposición nuestro servicio de asesoramiento y
            distribución de equipamiento Informático, que le facilitará infinitamente esta tarea, le ahorrará tiempo y
            hará sus inversiones más rentables.
            Con este soporte personalizado de nuestros técnicos le ayudaremos en la elección de su equipamiento y lo
            pondremos en sus instalaciones. Además, si usted lo desea podemos configurarlo según sus necesidades.
            Ponemos a su disposición cualquier equipamiento que necesite:
        </p>
        <ol start="1">
            <li>Servidores</li>
            <li>Ordenadores portátiles y de sobremesa.</li>
            <li>Sistemas y unidades de almacenamiento de datos.</li>
            <li>Dispositivos móviles</li>
            <li>Dispositivos de Red</li>
        </ol>
        <p>Como Partners de las marcas y fabricantes más prestigiosas del mercado, podemos ofrecerle las mejores
            soluciones tecnológicas existentes en el mercado.</p>
    </div>
</div>


<footer class="bg-dark text-white mt-4">

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://angular.io/"> Angular.com</a>
        <h5>Hecho con Angular 9 por Daniel Tarqui</h5>
    </div>
    <!-- <p style="color: white;"> Yay!<br>br<br>br</p> -->
</footer>