<!-- <p>contactos works!</p> -->
<div align=center>
    <h1 style="padding-top: 30px;">Contactos</h1>
    <img width="300px"
        src="https://lh3.googleusercontent.com/proxy/eHoPjcRysXxgSDwWyxBAh6q4PZcJlPdYonoa3RvYN2fSXyVdqhXhipow10cVFxc9Am8PHMY8DQ2VoWmct-MjBfcFNgCP4kyOto2t01_RmSHnxrncLRpZ_vzvD9pDV2VQMA">

    <h2 style="padding-top: 30px;">Encuentranos en...</h2>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11137.013683891548!2d-68.13352593876266!3d-16.50412198344817!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915f207a7b6cdf1b%3A0x235f7cdca1313032!2sPenal%20de%20San%20Pedro!5e0!3m2!1ses-419!2sbo!4v1592247642793!5m2!1ses-419!2sbo"
        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
        tabindex="0"></iframe>
    <h2 style="padding-top: 30px;">O llamanos a los numeros siguientes: </h2>
    <h4>+591 64312339<br>+591 2242323<br>+591 2242322<br>+591 2242325</h4>
</div>
<footer class="bg-dark text-white mt-4">

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://angular.io/"> Angular.com</a>
        <h5>Hecho con Angular 9 por Daniel Tarqui</h5>
    </div>
    <!-- <p style="color: white;"> Yay!<br>br<br>br</p> -->
</footer>