<div align='center'>
    <h1 style="padding: 20px;">Esta es una tienda de productos tecnologicos<br>solo para ti</h1>
    <img src="https://i.pinimg.com/originals/cd/c4/c3/cdc4c38b34b93577db3b3c5d4f5215ec.jpg" width="300px">
</div>
<br>
<div align='center'>
    <h3>
        Aqui te ofrecemos los mejores productos tecnologicos. Una computadora de escritorio, un teléfono móvil, una
        tablet, un televisor con pantalla de LCD, un reloj con GPS y una cámara de fotos digital son algunos ejemplos de
        productos tecnológicos. En todos los casos, se puede advertir la inclusión de componentes informáticos que se
        convierten en su esencia.
        En la actualidad, el hecho de que hayamos convertido a la tecnología en parte fundamental de nuestra vida, tanto
        para comunicarnos como para informarnos o para realizar tareas de diversa índole, ha traído consigo que sean
        numerosos los productos tecnológicos que aparecen a diario en el mercado. Se trata de artículos que llegan
        dispuestos a satisfacer necesidades que tenemos.
    </h3>
</div>
<footer class="bg-dark text-white mt-4">

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://angular.io/"> Angular.com</a>
        <h5>Hecho con Angular 9 por Daniel Tarqui</h5>
    </div>
    <p style="color: white;"> Yay!<br>br<br>br</p>
</footer>